---
import { renderRichText } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/components/StoryblokComponent.astro";
const { blok } = Astro.props;

const introduction = renderRichText(blok.Introduction);
---

<!-- v-motion="FadeIn(650)" -->
<section class="my-8 md:my-24">
    <h2
        class="font-medium text-2xl md:text-lg mb-4"
        set:text={blok.Label}
    />
    <div
        class="connect font-thin mb-6"
        set:html={introduction}
    />
    <div class="flex gap-4">
        {
            blok.Items?.map((blok: SBBlokData) => {
                return <StoryblokComponent blok={blok} />;
            })
        }
    </div>
</section>
