---
import { storyblokEditable } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";

const { blok } = Astro.props;
---

<div
    class="grid md:grid-cols-2 gap-8 md:gap-12"
    {...storyblokEditable(blok)}
>
    {
        blok.columns?.map((blok: SBBlokData) => {
            return <StoryblokComponent blok={blok} />;
        })
    }
</div>
