---
import StoryblokComponent from "@storyblok/astro/components/StoryblokComponent.astro";

const { blok } = Astro.props;
---

<!-- v-motion="FadeIn(500)" -->
<section>
    <h2
        class="font-medium text-2xl md:text-lg mb-4"
        set:text={blok.title}
    />
    {
        blok.Projects?.map((blok: SBBlokData) => {
            return <StoryblokComponent blok={blok} />;
        })
    }
</section>
