---
import StoryblokComponent from "@storyblok/astro/components/StoryblokComponent.astro";
const { blok } = Astro.props;
---

<section v-motion="FadeIn(500)">
    <h2
        class="font-medium text-2xl md:text-lg mb-4"
        set:text={blok.Label}
    />
    {
        blok.Work?.map((blok: SBBlokData) => {
            return <StoryblokComponent blok={blok} />;
        })
    }
</section>
