---
// Astro will bundle and optimize this CSS for you automatically
// This also works for preprocessor files like .scss, .styl, etc.
import "../styles/base.css";

import { useStoryblokApi } from "@storyblok/astro";
// import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
import Layout from "../layouts/Layout.astro";
import FooterComponent from "../components/FooterComponent.astro";
import { ColorModeSwitcher } from "../components/ColorModeSwitcher";

// const storyblokApi = useStoryblokApi();
// const { data } = await storyblokApi.get("cdn/stories/home", {
//     version: import.meta.env.DEV ? "draft" : "published",
// });
// <!-- <StoryblokComponent blok={data} /> -->
---

<Layout
    title="Steven Vos - Front-end Developer"
    description="Hi, I'm Steven. And I create websites and applications."
>
    <main>
        <ColorModeSwitcher client:load />
        <FooterComponent />
    </main>
</Layout>
