---
import Layout from '../layouts/Layout.astro';

import Connect from '../components/Connect.astro';
import Header from '../components/Header.astro';
import PlaygroundLink from '../components/PlaygroundLink.astro';
import Projects from '../components/Projects.astro';
import { ThemeSwitcher } from '../components/ThemeSwitcher';
import Work from '../components/Work.astro';
---

<Layout>
	<Header/>
	<section class="grid md:grid-cols-2 gap-8 md:gap-12 opacity-[0.01] animate-[fade_0.5s_0.5s_ease-in-out] fill-mode-forwards">
		<Work/>
		<Projects/>
	</section>
	<Connect/>
	<PlaygroundLink/>
	<ThemeSwitcher client:load/>
</Layout>
