---
import Layout from '../layouts/Layout.astro';

import Header from '../components/Header.astro';
import Projects from '../components/Projects.astro';
import Work from '../components/Work.astro';
---

<Layout title="Steven Vos">
	<Header/>
	<!-- TODO: add v-motion="FadeIn(500)" -->
	<section class="grid md:grid-cols-2 gap-8 md:gap-12">
		<Work/>
		<Projects/>
	</section>
</Layout>
