---
import Layout from '../layouts/Layout.astro';

import Header from '../components/Header.astro';
import Work from '../components/Work.astro';
---

<Layout title="Steven Vos">
	<Header/>
	<section class="grid md:grid-cols-2 gap-8 md:gap-12">
		<Work/>
	</section>
</Layout>
