---
import PlaygroundLayout from '../layouts/PlaygroundLayout.astro';

import { Playground } from '../components/Playground/Playground';
import { ThemeSwitcher } from '../components/ThemeSwitcher';
---

<PlaygroundLayout>
    <section class="mt-24 mb-12 md:my-24">
        <Playground client:only/>
        <ThemeSwitcher client:load/>
    </section>
</PlaygroundLayout>