---
import { PortableText } from "astro-portabletext";
import { getIntroduction } from '../utils/sanity';

const introduction = await getIntroduction()
const title = introduction.title
---

<header class="mt-24 mb-12 md:my-24 antialiased">
    <!-- TODO: add v-motion="FadeIn(300)" -->
    <h1 class="font-medium text-2xl mb-4">{title}</h1>
    <!-- TODO: v-motion="FadeIn(400)" -->
    <div class="font-light introduction">
        <PortableText
            value={introduction.content}
        />
    </div>
</header>