---
import { getIntroduction } from '../utils/sanity';

const introduction = await getIntroduction()
const title = introduction.title
---

<header class="mt-24 mb-12 md:my-24">
        <!-- <h1
            v-motion="FadeIn(300)"
            class="font-medium text-2xl mb-4"
            v-text="blok.Title"
        />
        <div
            v-motion="FadeIn(400)"
            class="font-thin introduction"
            v-html="introduction"
        /> -->
    <h1 class="font-medium text-2xl mb-4">{title}</h1>
    <div class="font-thin introduction">
        <p>
            Introduction
        </p>
    </div>
</header>