---
import type { InferGetStaticParamsType } from "astro";
import { Icon } from "astro-icon/components"
import { PortableText } from "astro-portabletext";

import { getPosts, getPostContent } from '../../utils/sanity';
import { urlFor } from "../../utils/image";

import { ThemeSwitcher } from '../../components/ThemeSwitcher';
import Layout from '../../layouts/Layout.astro';
import Image from '../../components/Image.astro';
import Code from '../../components/Code.astro';
export async function getStaticPaths() {
    const posts = await getPosts();
    return posts.map((post) => ({
        params: { blog: post.slug.current },
    }));
}

type Params = InferGetStaticParamsType<typeof getStaticPaths>;

const { blog } = Astro.params as Params;

const post = await getPostContent(blog);
console.log(post);
---

<Layout>
    <header class="mt-24">
        <a href="/blogs" class="flex items-center gap-2 group font-medium mb-4 opacity-[0.01] animate-[fade_0.5s_0.3s_ease-in-out] fill-mode-forwards lowercase underline-hover dark:after:bg-neutral-50 after:bg-red-600">
            <Icon name="mdi:arrow-left" class="w-4 h-4" />
            <span class="underline-hover dark:after:bg-neutral-50 after:bg-red-600">
                Back to blogs
            </span>
        </a>
        <h1 class="font-medium text-2xl mb-4 opacity-[0.01] animate-[fade_0.5s_0.4s_ease-in-out] fill-mode-forwards lowercase">{post.title}</h1>
        <p class="font-light opacity-[0.01] animate-[fade_0.5s_0.4s_ease-in-out] fill-mode-forwards lowercase">{post.excerpt}</p>
    </header>
    <main class="mb-12 md:mb-24">
        {post.mainImage ? (
            <img
                class="aspect-square opacity-[0.01] animate-[fade_0.5s_0.4s_ease-in-out] fill-mode-forwards my-6 w-full object-cover"
                src={urlFor(post.mainImage).url()}
                alt=""
            />
        ) : null}
        <div class="font-light introduction opacity-[0.01] animate-[fade_0.5s_0.4s_ease-in-out] fill-mode-forwards lowercase">
            <PortableText
                value={post.body}
                components={{
                    type: Image,
                    mark: {
                        code: Code,
                    }
                }}
            />
        </div>
    </main>
    <ThemeSwitcher client:load/>
</Layout>
