---
import Skeleton from "./components/Skeleton.astro";
---

<Skeleton>
	<main class="min-h-screen w-screen dark:bg-red-600 dark:text-neutral-50 bg-neutral-50 text-red-600 transition-colors antialiased">
        <div class="mx-4 lg:mx-16">
            <slot />
        </div>
	</main>
</Skeleton>
